@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import 'variables.scss';

#contact-us {
    width: 85%;
    margin: 2em auto;
    box-shadow: 0 0 6px #dbdbdd;
    font-family: 'Lato', sans-serif;
    .wrapper {
        .grid {
            display: grid;
            grid-template-columns: 5fr 2fr;
            .contact-form {
                background-color: $cadetBlue;
                color: $teal;
                padding: 2em 5em;
                .header-form {
                    display: grid;
                    margin: .5em 0 2.5em 0;
                    grid-template-columns: 95% 5%;
                    .title {
                        h3 {
                            margin: 0;
                            font-size: 2em;   
                            font-weight: 300;                         
                        }
                    }
                    .icon-mail {
                        img {
                            width: 32px;
                        }
                    }
                }
                .body-form {
                    .grid-two {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 1.5em;
                        .form-group {
                            label {
                                color: $teal;
                            }
                            input {
                                background-color: $cadeGreen;
                                border-radius: .2em;
                                outline: none;
                                border: none;
                                &:active, &:focus {
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                    .grid-one {
                        .form-group {
                            textarea {
                                background-color: $cadeGreen;
                                border-radius: .2em;
                                outline: none;
                                border: none;
                                &:active, &:focus {
                                    box-shadow: none;
                                }
                            }
                        }
                        .form-submit {
                            text-align: right;
                            a {
                                position: relative;
                                top: -1.2em;
                                left: 1.2em;
                                display: inline;
                                background-color: $teal;
                                padding: 1.5em .95em;
                                border-radius: 5em;
                                &:hover {
                                    background-color: darken($teal, 5%);
                                }
                                img {
                                    width: 32px;
                                }
                            }
                        }
                    }
                }
            }
            .contact-info {
                background-color: $teal;
                color: $cadetBlue;
                padding: 2em 3em;
                .contact-info-header {
                    h3 {
                        text-align: center;
                        margin: .5em 0 2em 0;
                        font-size: 1.8em;
                        font-weight: 300;
                    }
                    .info {
                        padding: 0;
                        list-style: none;
                        li {
                            display: grid;
                            grid-template-columns: 1fr 8fr;
                            grid-column-gap: 1em;
                            margin-bottom: 2em;
                            font-size: 1.1em;
                            &:last-child {
                                grid-template-columns: 1fr;
                                text-align: left;
                                margin-bottom: 5em;
                                span {
                                    img {
                                        width: 40px;
                                    }
                                }
                            }
                        }

                    }
                    h4 {
                        text-align: center;
                        font-weight: 100;
                        color: $white;
                        font-size: 1.5em;
                        margin: 0 0 1em 0;
                    }
                    .social {
                        text-align: center;
                        .social-icons {
                            padding: 0;
                            list-style: none;
                            display: inline;
                            li {
                                display: inline;
                                padding: 0 1em;
                                a {
                                    &:hover {
                                        text-decoration: none;
                                    }
                                    img {
                                        max-width: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}