#contact-us {
    width: 85%;
    margin: 2em auto;
    box-shadow: 0 0 6px #dbdbdd;
    .wrapper {
        .grid {
            display: grid;
            grid-template-columns: 5fr 2fr;
            .contact-form {
                background-color: #f4f4f4;
                padding: 2em 5em;
                .header-form {
                    display: grid;
                    margin: .5em 0 2em 0;
                    grid-template-columns: 95% 5%;
                    .title {
                        h3 {
                            margin: 0;
                            font-size: 1.4em;                            
                        }
                    }
                    .icon-mail {
                        img {
                            width: 32px;
                        }
                    }
                }
                .body-form {
                    .grid-two {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 1.5em;
                        .form-group {
                            input {
                                border-radius: 0;
                                outline: none;
                                &:active, &:focus {
                                    border-color: #ccc;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                    .grid-one {
                        .form-group {
                            textarea {
                                border-radius: 0;
                                outline: none;
                                &:active, &:focus {
                                    border-color: #ccc;
                                    box-shadow: none;
                                }
                            }
                        }
                        .form-submit {
                            text-align: right;
                            a {
                                position: relative;
                                top: -1.2em;
                                left: 1.2em;
                                display: inline;
                                background-color: #dcdcde;
                                padding: 1.5em .95em;
                                border-radius: 5em;
                                &:hover {
                                    opacity: .9;
                                }
                                img {
                                    width: 32px;
                                }
                            }
                        }
                    }
                }
            }
            .contact-info {
                background-color: #dbdbdd;
                padding: 2em 3em;
                .contact-info-header {
                    h3 {
                        text-align: center;
                        margin: .5em 0 2em 0;
                        font-size: 1.4em;
                    }
                    .info {
                        padding: 0;
                        list-style: none;
                        li {
                            display: grid;
                            grid-template-columns: 1fr 8fr;
                            grid-column-gap: 1em;
                            margin-bottom: 2em;
                            &:last-child {
                                grid-template-columns: 1fr;
                                text-align: left;
                                margin-bottom: 6em;
                                span {
                                    img {
                                        width: 40px;
                                    }
                                }
                            }
                        }

                    }
                    .social-icons {
                        padding: 0;
                        list-style: none;
                        display: inline;
                        li {
                            display: inline;
                            padding: 0 1em;
                            img {
                                max-width: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}